body {
    font-family: "Open Sans";
    background: url('/static/bg.gif') no-repeat;
    margin-left: 40px;
    color: #2d3192;
}

#header {
    font-weight: 300;
    font-size: 36px;
}

#semibold-para {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}

#how-works {
    font-weight: 600;
    font-size: 18px;
}

.steps {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
}

#submit-btn {
    background: url('/static/spr01.png') no-repeat 0 0;
    width: 296px;
    height: 73px;
    padding:0px 0 4px 0;
    border:none;
    text-indent: -1000em;
    cursor: pointer;
}

#submit-btn:hover {
    background: url('/static/spr01.png') no-repeat -300px 0;
    width: 296px;
    height: 73px;
    padding:0px 0 4px 0;
    border:none;
    text-indent: -1000em;
    cursor: pointer;
}

input {
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

textarea {
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

#submit_form {
    background: url('/static/spr01.png') no-repeat 0 -80px;
    width: 296px;
    height: 73px;
    padding:0px 0 4px 0;
    border:none;
    text-indent: -1000em;
    cursor: pointer;
}

#submit_form:hover {
    background: url('/static/spr01.png') no-repeat -300px -80px;
    width: 296px;
    height: 73px;
    padding:0px 0 4px 0;
    border:none;
    text-indent: -1000em;
    cursor: pointer;
}
