body {
    font-family: "Open Sans";
    background: url('/static/bg.gif') no-repeat;
    margin-left: 40px;
    color: #2d3192;
}

#header {
    font-weight: 300;
    font-size: 36px;
}

#semibold-para {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}

#how-works {
    font-weight: 600;
    font-size: 18px;
}

.steps {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
}

#submit-btn {
    background: url('/static/spr01.png') no-repeat 0 0;
    width: 296px;
    height: 73px;
    padding:0px 0 4px 0;
    border:none;
    text-indent: -1000em;
    cursor: pointer;
}

#submit-btn:hover {
    background: url('/static/spr01.png') no-repeat -300px 0;
    width: 296px;
    height: 73px;
    padding:0px 0 4px 0;
    border:none;
    text-indent: -1000em;
    cursor: pointer;
}

input {
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

textarea {
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

#submit_form {
    background: url('/static/spr01.png') no-repeat 0 -80px;
    width: 296px;
    height: 73px;
    padding:0px 0 4px 0;
    border:none;
    text-indent: -1000em;
    cursor: pointer;
}

#submit_form:hover {
    background: url('/static/spr01.png') no-repeat -300px -80px;
    width: 296px;
    height: 73px;
    padding:0px 0 4px 0;
    border:none;
    text-indent: -1000em;
    cursor: pointer;
}

#lean_overlay {
    display: none;
    z-index: 10000;
    background-color: #fff;
    width: 450px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid blue;
    -moz-box-shadow: 0 0 10px 5px blue;
    -webkit-box-shadow: 0 0 10px blue;
    border-radius: 10px;
}

#lean_overlay .overlay-header {
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
}

#lean_overlay .overlay-text {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
    padding: 0 20px 0 20px;
}

#lean_overlay #fblike {
    margin-left: 50px;
}

#tnc_overlay {
    top:0;
    left:0;
    display: none;
    z-index: 10000;
    background-color: #fff;
    width: auto;
    border: 1px solid blue;
    -moz-box-shadow: 0 0 10px 5px blue;
    -webkit-box-shadow: 0 0 10px blue;
    position: relative;
}

#tnc_overlay .overlay-header {
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
}

.overlay-text {
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    margin-top: 0;
    padding: 5px 5px 5px 5px;
}

#lean_overlay #fblike {
    margin-left: 50px;
}

.error {
    border: 1px solid blue;
    background-color: blue;
    color: #fff;
}

.error_overlay {
    top:0;
    left:0;
    display: none;
    z-index: 10000;
    background-color: #fff;
    width: auto;
    border: 1px solid blue;
    -moz-box-shadow: 0 0 10px 5px blue;
    -webkit-box-shadow: 0 0 10px blue;
    position: relative;
}

.success_overlay {
    top:0;
    left:0;
    display: none;
    z-index: 10000;
    background-color: #fff;
    width: auto;
    border: 1px solid blue;
    -moz-box-shadow: 0 0 10px 5px blue;
    -webkit-box-shadow: 0 0 10px blue;
    position: relative;
}

.error_overlay .overlay-text {
    text-align: center;
}
.error_overlay .overlay-header {
    text-align: center;
}

.success_overlay .overlay-text {
    text-align: center;
}
.success_overlay .overlay-header {
    text-align: center;
}
.close-me {
    text-align: center;
}