<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    {% from "_formhelpers.html" import render_field %}
    <form action="" method="post" enctype="multipart/form-data">
      <dl>
        {{ render_field(form.first_name) }}
        {{ render_field(form.last_name) }}
        {{ render_field(form.location) }}
        {{ render_field(form.email) }}
        {{ render_field(form.phone) }}
        {{ render_field(form.image) }}
        {{ render_field(form.tnc) }}
      </dl>
      <p><input type="submit" value="Submit">
    </form>
  </body>
</html>
