<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ data['css'] }}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/static/jquery.simplemodal.1.4.3.min.js"></script>
  </head>
  <body background="{{ data['bg'] }}">
    <div id="fb-root"></div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=113951005429961";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <p id="header">Think you have what it takes?</p>
    <p id="semibold-para"> Every time you close your eyes,<br>do you see your name in shining<br>lights? Now see it for real!<br>Be our ‘Star of the week’!<br>Tell us why you deserve to be our<br>Star of the week.</p>
    <p id="how-works">How does it work?</p>
    <p class="steps">1. Submit your awesome pic.</p>
    <p class="steps">2. Share a little piece of info<br>&nbsp;&nbsp;&nbsp;&nbsp;about yourself</p>
    <p class="steps">3. Share the magic!</p>
    <br>
    <form action="/enter" method="post">
      <input type="submit" name="submit" id="submit-btn" />
    </form>

    
    {% if not data['likes'] %}
    <script>
      $("#submit-btn").click(function(e){
        e.preventDefault();
        $("#lean_overlay").modal();
      });
    </script>
    <div id="lean_overlay">
      <p class="overlay-header">Haven't liked us yet?</p>
      <p class="overlay-text">To be our start of the week, you have to
        click the like. Click it now and take the first step towards
        your stardom.
      </p>
      <div class="fb-like" data-href="http://www.facebook.com/Paytm/app_113951005429961" data-send="false" data-width="400" data-show-faces="false"></div>
    </div>
    {% endif %}

  </body>
</html>
